<div *ngIf="!isConnecting && user">
  
    <mat-toolbar color="primary" class="fixed-header main-header">
        <mat-toolbar-row>
          <span class="idea-arrow-back" (click)="goBack()"><mat-icon>arrow_back</mat-icon></span>
          <span class="welcome-logo"> VIEW IDEA</span>
          <span class="flexer"></span>
    
          <button mat-button (click) = "logUserOut('You Logged out')" class="login-button" title="logout"><mat-icon>logout</mat-icon></button>

    
        </mat-toolbar-row>
    </mat-toolbar>
    
    <!--View-->
    
    <div class="settings">
    

    
    </div>
    
    <!-- END OF VIEW-->
    
    </div>
    <app-error-occured *ngIf="hasError && !isConnecting"></app-error-occured>
    
    <app-page-loading *ngIf="isConnecting"></app-page-loading>
    
    