<div class="body">

    <mat-toolbar color="primary" class="fixed-header mat-elevation-z0">
        <mat-toolbar-row>
          <span class="welcome-logo"><img class="img-logo" src="/assets/images/app-logo.png" alt=""></span>
          <span class="flexer"></span>
          <a href="/help">
              <button mat-button >Help</button>
          </a>
          <button mat-button [routerLink]="['/login']" class="login-button">Login</button>
          <button mat-button [routerLink]="['/register']">Register</button>
        </mat-toolbar-row>
    </mat-toolbar>

    <div class="landing-top">
       

        <div class="welcome-message">
          <h3>Mentorship. Ideas. Chat. Forum.</h3>
        </div>
    </div>

    <div class="landing-bottom row">
      <div class="lsetf footer-logo">
          <h6 class="text">An Initiative of</h6>
          <img class="partner-logo" src="/assets/images/partners/lsetf-logo.png" alt="">
      </div>
      <div class="innovate footer-logo">
          <img class="partner-logo" src="/assets/images/partners/innovate-logo.png" alt="">
      </div>
      <div class="gpi footer-logo">
          <h6 class="text">Powered by Global Performance Index</h6><img class="partner-logo" src="/assets/images/partners/gpi-logo.png" alt="">
      </div>
    </div>

</div>
