.body {
    height: 100vh;
}
.landing-top {
    width: 100%;
    height: 80%;
    background-image: url('/assets/images/background/landing.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.partner-logo {
    width: 50px;
    height: 50px;
}

mat-toolbar-row button {
    background: #11C7B3;
    color: #fff;
    margin: 5px;
}

mat-toolbar-row span {
    cursor: pointer;
}

.login-button {
    background: transparent !important;
    color: #11C7B3 !important;
}

.welcome-logo mat-icon {
    font-size: 15px !important;
}

.welcome-message {
    position: relative;
    display: block;
    top: 250px;
    width: 600px;
    max-width: 80%;
    background: transparent;
    color: #fff;
    margin: auto;
}

a button {
    background: #fff;
    color: #11C7B3;
}

.landing-bottom {
    position: relative;
    top: 20px;
    width: 100%;
    padding: 10px;
    margin: auto;
 }

 .landing-bottom div{
   margin-left: 5px;
   width: 50%;
 }

 .landing-bottom img{
    margin-left: 10px;
 }

.lsetf .partner-logo {
     width: 250px !important;
     height: 100px;
 }
 .gpi .partner-logo {
     width: 100px;
     height: 70px;
 }

 .lsetf .text,  .gpi .text{
     position: relative;
     top: 20px;
 }
