<div class="body" *ngIf="!isConnecting && user && !hasError">
  <input class="hidden" #fileUpload name="fileUrl" type="file" accept=".pdf" (change)="onChooseFile($event)" />
  <input class="hidden" #imgUpload name="fileUrl" type="file" accept="image/*" (change)="onChooseImage($event)" />
  <input class="hidden" #avatarUpload name="fileUrl" type="file" accept="image/*" (change)="onChooseAvatar($event)" />
<mat-toolbar color="primary" class="fixed-header mat-elevation-z0 special-top">
<mat-toolbar-row>
    <span class="special-logo" [routerLink]="'/mentor/home'"><img class="img-logo" src="/assets/images/app-logo.png" alt=""></span>
    <span class="flexer"></span>
    <app-shared-notification [id]="authUser.id" link="/mentor" class="chat-notify"></app-shared-notification>
    <div [routerLink]="'/mentor/home'" class="logout chat-nav" title="Home"><mat-icon>home</mat-icon> </div>
  <div (click)="logUserOut('You logged out')" class="logout chat-logout chat-nav" title="Logout">Logout </div>
</mat-toolbar-row>
</mat-toolbar>

<div class="app-card mat-elevation-z4" (mouseenter)="hideChatMenus()" [class.is-mobile]="mobileQuery.matches">


<!--Conversation Left Side-->

<div class="left-side chat" [class.hide-left]="hideMobileLeft">

  <div class="left-side-top">
      <div class="infos">
          <div [class.hidden]="authUser.avatar.length==0?false:true"class="fake-avatar" [title]="authUser.name">
            <button mat-fab class="mat-elevation-z0" [matMenuTriggerFor]="user">{{authUser.name.slice(0,1)}}</button>
          </div>
          <img [class.hidden]="authUser.avatar.length>0?false:true" [src]="authUser.avatar" alt="" [matMenuTriggerFor]="user">
          <span class="right-icons main-icons">
              <button mat-button (click)="gotoIdea()" title="Idea">
                  <mat-icon class="idea">wb_incandescent</mat-icon>
                  <span>Ideas</span>
              </button>
              <button mat-button (click)="gotoForum()" title="Forum">
                  <mat-icon>forum</mat-icon>
                  <span>Forum</span>
              </button>
              
              <button mat-flat-button title="More" class="transparent" [matMenuTriggerFor]="more">
                  <mat-icon >more_vert</mat-icon>
              </button>

            <mat-menu #more="matMenu" class="mat-menu">
                <button mat-button (click)="gotoForum()">
                    <span  class="more-option">Forum</span>
                </button>
                <button mat-button (click)="gotoIdea()">
                    <span class="more-option">Ideas</span>
                </button>
                <button mat-button [routerLink]="['/mentor/edit/profile']">
                  Edit Profile
                </button>
            </mat-menu>

            <mat-menu #user="matMenu" class="mat-menu">
                <button class="transparent">
                      <div [class.hidden]="authUser.avatar.length==0?false:true"class="fake-avatar" [title]="authUser.name">
                        <button mat-fab class="mat-elevation-z0">{{authUser.name.slice(0,1)}}</button>
                      </div>
                      <img [class.hidden]="authUser.avatar.length>0?false:true" [src]="authUser.avatar" alt="">
                    <span  class="more-option">{{authUser.name}}</span>
                    <button mat-button (click)="onAvatarUpload()" >Change Avatar</button>
                </button>
            </mat-menu>
            
          </span>
      </div>
      <div class="search">
        <mat-form-field appearance="outline" class="page-search-input">
          <button mat-button matPrefix mat-icon-button aria-label="Clear">
              <mat-icon>search</mat-icon>
          </button>
        <input matInput (keyup)="applyFilter($event.target.value)" name="search" [(ngModel)]="searchText" placeholder="Search conversations" autocomplete="off">
        <button *ngIf="searchText" (click)="searchText=''" mat-button matSuffix mat-icon-button aria-label="Clear">
          <mat-icon>close</mat-icon>
      </button>
      </mat-form-field>
      </div>
  </div>

  <!--When Search is Off-->
  <div *ngIf="!searchText" class="left-side-body" (scroll)="onLeftScroll($event)">
    <div class="not-available" *ngIf="conversations.length==0">No active conversation</div>
    <div class="user-list row" *ngFor="let item of conversations" [class.active]="item.active" (click)="fetchAllMessages(item.type, item.sender.id)">
      
      <span [class.hidden]="item.sender.avatar.length==0?false:true" class="fake-avatar" [title]="item.sender.name" >
          <button mat-fab class="mat-elevation-z0">{{item.sender.name.slice(0,1)}}</button>
      </span>
      <div [class.hidden]="item.sender.avatar.length>0?false:true" class="col-xs-6 user-avatar">
        <img [src]="item.sender.avatar" alt="">
      </div> 
      
      <div class="col-xs-6 user-content" [class.unread]="item.latest.unread">
        <span class="user-name">
            {{item.sender.name.slice(0, 12)}}
            <span *ngIf="item.sender.name.length>12">...</span>
        </span> 
        <span class="latest-time">
          {{getLocalTime(item.latest.created_at)}}
        </span>
        <br>
        <span class="user-message">
         {{item.latest.message.slice(0, 30)}} <span *ngIf="item.latest.message.length>30">...</span>
         <span class="message-status" *ngIf="item.latest.status=='sent' && item.latest.sender.id==authUser.id"><mat-icon>check</mat-icon> </span>
              <span class="message-status" *ngIf="item.latest.status=='delivered' && item.latest.sender.id==authUser.id"> <mat-icon>done_all</mat-icon> </span>
              <span class="message-status" *ngIf="item.latest.status=='pending' && item.latest.sender.id==authUser.id"><mat-icon>watch_later</mat-icon></span>
        </span>
        <div class="more-option-reverse" *ngIf="senderMenu == item.sender.id"><mat-icon>keyboard_arrow_down</mat-icon></div>
        <div class="more-option" [matMenuTriggerFor]="menu" (click)="menuOpened(item.sender.id); $event.stopPropagation();"><mat-icon>keyboard_arrow_down</mat-icon></div>
        <div class="unread-count"  *ngIf="item.latest.unread">{{item.unread_count}}</div>
        <div class="pinned" *ngIf="item.pinned"><mat-icon>loyalty</mat-icon></div>

        <mat-menu #menu="matMenu" class="mat-menu">
            <button mat-button *ngIf="item.pinned"  (click)="unPinChat(item.type, item.sender.id)">
                <span  class="more-option">Unpin Chat</span>
            </button>
            <button mat-button *ngIf="!item.pinned" (click)="pinChat(item.type, item.sender.id)">
                <span class="more-option">Pin Chat</span>
            </button>
        </mat-menu>
      </div>
      
    </div>

  </div>

  <!--When Search is On-->
  <div *ngIf="searchText && activeType=='chat'" class="left-side-body" (scroll)="onLeftScroll($event)">
      <div class="not-available" *ngIf="searchText && searchResult.length==0">Conversation not found</div>
      <div class="user-list row" *ngFor="let item of searchResult" [class.active]="item.active" (click)="fetchAllMessages(item.type, item.sender.id)">
        
          <span [class.hidden]="item.sender.avatar.length==0?false:true" class="fake-avatar" [title]="item.sender.name" >
              <button mat-fab class="mat-elevation-z0">{{item.sender.name.slice(0,1)}}</button>
          </span>
          <div [class.hidden]="item.sender.avatar.length>0?false:true" class="col-xs-6 user-avatar">
            <img [src]="item.sender.avatar" alt="">
          </div>
        
        <div class="col-xs-6 user-content" [class.unread]="item.latest.unread">
          <span class="user-name" [innerHTML]="replaceMatch(item.type, item.sender.name.slice(0,25))">
          </span>
          <span *ngIf="item.sender.name.length>12">...</span> 
          <span class="latest-time">
            {{getLocalTime(item.latest.created_at)}}
          </span>
          <br>
          <span class="user-message">
              {{item.latest.message.slice(0, 30)}} 
              <span *ngIf="item.latest.message.length>30">...</span>
              <span class="message-status" *ngIf="item.latest.status=='sent' && item.latest.sender.id==authUser.id"><mat-icon>check</mat-icon> </span>
              <span class="message-status" *ngIf="item.latest.status=='delivered' && item.latest.sender.id==authUser.id"> <mat-icon>done_all</mat-icon> </span>
              <span class="message-status" *ngIf="item.latest.status=='pending' && item.latest.sender.id==authUser.id"><mat-icon>watch_later</mat-icon></span>
            </span>
            <div class="more-option-reverse" *ngIf="senderMenu == item.sender.id"><mat-icon>keyboard_arrow_down</mat-icon></div>
            <div class="more-option" [matMenuTriggerFor]="menu" (click)="menuOpened(item.sender.id); $event.stopPropagation();"><mat-icon>keyboard_arrow_down</mat-icon></div>
            <div class="unread-count"  *ngIf="item.latest.unread">{{item.unread_count}}</div>
            <div class="pinned" *ngIf="item.pinned"><mat-icon>loyalty</mat-icon></div>
  
            <mat-menu #menu="matMenu" class="mat-menu">
                <button mat-button *ngIf="item.pinned"  (click)="unPinChat(item.type, item.sender.id)">
                    <span  class="more-option">Unpin Chat</span>
                </button>
                <button mat-button *ngIf="!item.pinned" (click)="pinChat(item.type, item.sender.id)">
                    <span class="more-option">Pin Chat</span>
                </button>
            </mat-menu>
        </div>
        
      </div>

    </div>

</div>



<!--Forum Left Side-->

<div class="left-side forum" [class.expand-left]="toForum" [class.hide-left]="hideMobileLeft">

    <div class="left-side-top">
        <div class="infos">
          <span class="left-icons">
            <mat-icon title="Go back" (click)="gotoConversation()">arrow_back</mat-icon>
          </span>

          <span class="page-title">
              Forum
          </span>
          <span class="right-icons">
            <mat-icon (click)="fetchForums()">refresh</mat-icon>
          </span>
        </div>
        <div class="search">
          <mat-form-field appearance="outline" class="page-search-input">
            <button mat-button matPrefix mat-icon-button aria-label="Clear">
                <mat-icon>search</mat-icon>
            </button>
          <input matInput (keyup)="applyFilter($event.target.value)" name="search" [(ngModel)]="searchText" placeholder="Search Forum" autocomplete="off">
          <button *ngIf="searchText" (click)="searchText=''" mat-button matSuffix mat-icon-button aria-label="Clear">
            <mat-icon>close</mat-icon>
        </button>
        </mat-form-field>
        </div>
    </div>

    <!--When Search is Off-->
    <div *ngIf="!searchText" class="left-side-body" (scroll)="onLeftScroll($event)">

        <div class="user-list row" (click)="gotoNewForum()">
        
            <div class="col-xs-6 user-avatar">
              <button mat-fab class="add-button">
                  <mat-icon>add</mat-icon>
              </button>
            </div> 
            
            <div class="col-xs-6 user-content">
              <span class="user-name add-text">
                  Start a topic
              </span> 
            </div>

        </div>

      <div class="not-available" *ngIf="forums.length==0">No topic to display</div>
      <div class="user-list row" *ngFor="let item of forums" [class.active]="item.active" (click)="fetchAllMessages(item.type, item.sender.id)">
        
          <span [class.hidden]="item.sender.avatar.length==0?false:true" class="fake-avatar" [title]="item.sender.name" >
              <button mat-fab class="mat-elevation-z0">{{item.sender.name.slice(0,1)}}</button>
          </span>
          <div [class.hidden]="item.sender.avatar.length>0?false:true" class="col-xs-6 user-avatar">
            <img [src]="item.sender.avatar" alt="">
          </div>
        
        <div class="col-xs-6 user-content" [class.unread]="item.latest.unread">
          <span class="user-name">
              {{item.sender.name.slice(0,25)}}
              <span *ngIf="item.sender.name.length>12">...</span>
          </span> 
          <span class="latest-time">
            {{getLocalTime(item.latest.created_at)}}
          </span>
          <br>
          <span class="user-message">
           {{item.latest.message.slice(0, 30)}} <span *ngIf="item.latest.message.length>30">...</span>
           <span class="message-status" *ngIf="item.latest.status=='sent' && item.latest.sender.id==authUser.id"><mat-icon>check</mat-icon> </span>
                <span class="message-status" *ngIf="item.latest.status=='delivered' && item.latest.sender.id==authUser.id"> <mat-icon>done_all</mat-icon> </span>
                <span class="message-status" *ngIf="item.latest.status=='pending' && item.latest.sender.id==authUser.id"><mat-icon>watch_later</mat-icon></span>
          </span>
          <div class="more-option-reverse" *ngIf="senderMenu == item.sender.id"><mat-icon>keyboard_arrow_down</mat-icon></div>
          <div class="more-option" [matMenuTriggerFor]="menu" (click)="menuOpened(item.sender.id); $event.stopPropagation();"><mat-icon>keyboard_arrow_down</mat-icon></div>
          <div class="unread-count"  *ngIf="item.latest.unread">{{item.unread_count}}</div>
          <div class="pinned" *ngIf="item.pinned"><mat-icon>loyalty</mat-icon></div>

          <mat-menu #menu="matMenu" class="mat-menu">
              <button mat-button *ngIf="item.pinned"  (click)="unPinChat(item.type, item.sender.id)">
                  <span  class="more-option">Unpin Forum</span>
              </button>
              <button mat-button *ngIf="!item.pinned" (click)="pinChat(item.type, item.sender.id)">
                  <span class="more-option">Pin Forum</span>
              </button>
          </mat-menu>
        </div>
        
      </div>

    </div>

    <!--When Search is On-->
    <div *ngIf="searchText && activeType=='forum'" class="left-side-body" (scroll)="onLeftScroll($event)">
        <div class="not-available" *ngIf="searchText && searchResult.length==0">Forum not found</div>
        <div class="user-list row" *ngFor="let item of searchResult" [class.active]="item.active" (click)="fetchAllMessages(item.type, item.sender.id)">
          
            <span [class.hidden]="item.sender.avatar.length==0?false:true" class="fake-avatar" [title]="item.sender.name" >
                <button mat-fab class="mat-elevation-z0">{{item.sender.name.slice(0,1)}}</button>
            </span>
            <div [class.hidden]="item.sender.avatar.length>0?false:true" class="col-xs-6 user-avatar">
              <img [src]="item.sender.avatar" alt="">
            </div>
          
          <div class="col-xs-6 user-content" [class.unread]="item.latest.unread">
            <span class="user-name" [innerHTML]="replaceMatch(item.type, item.sender.name.slice(0, 12))">
            </span> 
            <span *ngIf="item.sender.name.length>12">...</span>
            <span class="latest-time">
              {{getLocalTime(item.latest.created_at)}}
            </span>
            <br>
            <span class="user-message">
                {{item.latest.message.slice(0, 30)}} 
                <span *ngIf="item.latest.message.length>30">...</span>
                <span class="message-status" *ngIf="item.latest.status=='sent' && item.latest.sender.id==authUser.id"><mat-icon>check</mat-icon> </span>
                <span class="message-status" *ngIf="item.latest.status=='delivered' && item.latest.sender.id==authUser.id"> <mat-icon>done_all</mat-icon> </span>
                <span class="message-status" *ngIf="item.latest.status=='pending' && item.latest.sender.id==authUser.id"><mat-icon>watch_later</mat-icon></span>
              </span>
              <div class="more-option-reverse" *ngIf="senderMenu == item.sender.id"><mat-icon>keyboard_arrow_down</mat-icon></div>
              <div class="more-option" [matMenuTriggerFor]="menu" (click)="menuOpened(item.sender.id); $event.stopPropagation();"><mat-icon>keyboard_arrow_down</mat-icon></div>
              <div class="unread-count"  *ngIf="item.latest.unread">{{item.unread_count}}</div>
              <div class="pinned" *ngIf="item.pinned"><mat-icon>loyalty</mat-icon></div>
    
              <mat-menu #menu="matMenu" class="mat-menu">
                  <button mat-button *ngIf="item.pinned"  (click)="unPinChat(item.type, item.sender.id)">
                      <span  class="more-option">Unpin Forum</span>
                  </button>
                  <button mat-button *ngIf="!item.pinned" (click)="pinChat(item.type, item.sender.id)">
                      <span class="more-option">Pin Forum</span>
                  </button>
              </mat-menu>
          </div>
          
        </div>
  
      </div>

  </div>


<!--New Forum Left Side-->

<div class="left-side forum new-forum" [class.expand-left]="toNewForum" [class.hide-left]="hideMobileLeft">

  <div class="left-side-top">
      <div class="infos">
        <span class="left-icons">
          <mat-icon title="Go back" (click)="gotoForum()">arrow_back</mat-icon>
        </span>

        <span class="page-title">
            New Forum
        </span>
      </div>
  </div>

  <!--New Forum Body-->
  <div class="left-side-body">

    <mat-horizontal-stepper labelPosition="bottom" linear #stepper>
      <mat-step [stepControl]="firstForumGroup">
          <form [formGroup]="firstForumGroup">
              <ng-template matStepLabel>Topic</ng-template>
              <mat-form-field appearance="outline">
                  <mat-label class="title-text">Forum Topic</mat-label>
                  <textarea matInput placeholder="Topic" class="title-text" formControlName="topic" rows="5" required autocomplete="off"></textarea>
                  <mat-error *ngIf="firstForumGroup.get('topic').invalid">Minimum Character is 10</mat-error>
              </mat-form-field>
              <div>
                  <button mat-button matStepperNext>Next</button>
              </div>
          </form>
      </mat-step>

      <mat-step [stepControl]="secondForumGroup">
        <form [formGroup]="secondForumGroup">
            <ng-template matStepLabel>Message</ng-template>
            <mat-form-field appearance="outline">
                <mat-label>Message</mat-label>
                <textarea matInput placeholder="Type a message" rows="10" formControlName="message" required></textarea>
                <mat-error *ngIf="secondForumGroup.get('message').invalid">Minimum Character is 20</mat-error>
            </mat-form-field>
            <div>
                <button mat-button matStepperPrevious>Back</button>
                <button mat-button matStepperNext>Next</button>
            </div>
        </form>
    </mat-step>

    <mat-step>
        <ng-template matStepLabel>Post</ng-template>
        <div class="slider-div">
            <mat-slide-toggle  class="example-margin" color="primary" checked="true" (change)="getSliderChange($event)">
              <span *ngIf="newForumStatus">Public. Everyone can view this post</span>
              <span *ngIf="!newForumStatus">Restricted. Only users authorised by this<br>platform can view this post</span>
            </mat-slide-toggle>
        </div>

        <div>
            <button mat-button matStepperPrevious>Review</button>
            <button class="save-button" mat-button (click)="postNew('forum'); stepper.reset()">Post</button>
        </div>
    </mat-step>
  </mat-horizontal-stepper>


  </div>

</div>



  <!--Idea Left Side-->

<div class="left-side forum idea" [class.expand-left]="toIdea" [class.hide-left]="hideMobileLeft">

    <div class="left-side-top">
        <div class="infos">
          <span class="left-icons">
            <mat-icon title="Go back" (click)="gotoConversation()">arrow_back</mat-icon>
          </span>

          <span class="page-title">
              Ideas
          </span>
          <span class="right-icons">
            <mat-icon (click)=fetchIdeas()>refresh</mat-icon>
          </span>
        </div>
        <div class="search">
          <mat-form-field appearance="outline" class="page-search-input">
            <button mat-button matPrefix mat-icon-button aria-label="Clear">
                <mat-icon>search</mat-icon>
            </button>
          <input matInput (keyup)="applyFilter($event.target.value)" name="search" [(ngModel)]="searchText" placeholder="Search Idea" autocomplete="off">
          <button *ngIf="searchText" (click)="searchText=''" mat-button matSuffix mat-icon-button aria-label="Clear">
            <mat-icon>close</mat-icon>
        </button>
        </mat-form-field>
        </div>
    </div>

    <!--When Search is Off-->
    <div *ngIf="!searchText" class="left-side-body" (scroll)="onLeftScroll($event)">

      <div class="not-available" *ngIf="ideas.length==0">Your Mentees have not posted ideas yet</div>
      <div class="user-list row" *ngFor="let item of ideas" [class.active]="item.active" (click)="fetchAllMessages(item.type, item.id)">
        
      <span [class.hidden]="item.logo.length==0?false:true" class="fake-avatar" [title]="item.title" >
          <button mat-fab class="mat-elevation-z0">{{item.title.slice(0,1)}}</button>
      </span>
      <div [class.hidden]="item.logo.length>0?false:true" class="col-xs-6 user-avatar">
        <img [src]="item.logo" alt="">
      </div>
        
        <div class="col-xs-6 user-content">
          <span class="user-name">
              {{item.title.slice(0, 12)}}
              <span *ngIf="item.title.length>12">...</span>
          </span> 
          <span class="latest-time">
            {{getLocalTime(item.created_at)}}
          </span>
          <br>
          <span class="user-message">
           {{item.summary.slice(0, 30)}} <span *ngIf="item.summary.length>30">...</span>
          </span>
          <div class="more-option-reverse" *ngIf="senderMenu == item.id"><mat-icon>keyboard_arrow_down</mat-icon></div>
          <div class="more-option" [matMenuTriggerFor]="menu" (click)="menuOpened(item.id); $event.stopPropagation();"><mat-icon>keyboard_arrow_down</mat-icon></div>
          <div class="pinned" *ngIf="item.pinned"><mat-icon>loyalty</mat-icon></div>

          <mat-menu #menu="matMenu" class="mat-menu">
              <button mat-button *ngIf="item.pinned"  (click)="unPinChat(item.type, item.id)">
                  <span  class="more-option">Unpin Idea</span>
              </button>
              <button mat-button *ngIf="!item.pinned" (click)="pinChat(item.type, item.id)">
                  <span class="more-option">Pin Idea</span>
              </button>
          </mat-menu>
        </div>
        
      </div>

    </div>

    <!--When Search is On-->
    <div *ngIf="searchText && activeType=='idea'" class="left-side-body" (scroll)="onLeftScroll($event)">
        <div class="not-available" *ngIf="searchText && searchResult.length==0">Idea not found</div>
        <div class="user-list row" *ngFor="let item of searchResult" [class.active]="item.active" (click)="fetchAllMessages(item.type, item.id)">
          
          <span [class.hidden]="item.logo.length==0?false:true" class="fake-avatar" [title]="item.title" >
              <button mat-fab class="mat-elevation-z0">{{item.title.slice(0,1)}}</button>
          </span>
          <div [class.hidden]="item.logo.length>0?false:true" class="col-xs-6 user-avatar">
            <img [src]="item.logo" alt="">
          </div>
          
          <div class="col-xs-6 user-content">
            <span class="user-name" [innerHTML]="replaceMatch(item.type, item.title.slice(0,25))">
            </span> 
            <span *ngIf="item.title.length>12">...</span>
            <span class="latest-time">
              {{getLocalTime(item.created_at)}}
            </span>
            <br>
            <span class="user-message">
                <span [innerHTML]="replaceMatch(item.type, item.summary.slice(0, 30))"></span>
                <span *ngIf="item.summary.length>30">...</span>
              </span>
              <div class="more-option-reverse" *ngIf="senderMenu == item.id"><mat-icon>keyboard_arrow_down</mat-icon></div>
              <div class="more-option" [matMenuTriggerFor]="menu" (click)="menuOpened(item.id); $event.stopPropagation();"><mat-icon>keyboard_arrow_down</mat-icon></div>
              <div class="pinned" *ngIf="item.pinned"><mat-icon>loyalty</mat-icon></div>
    
              <mat-menu #menu="matMenu" class="mat-menu">
                  <button mat-button *ngIf="item.pinned"  (click)="unPinChat(item.type, item.id)">
                      <span  class="more-option">Unpin Idea</span>
                  </button>
                  <button mat-button *ngIf="!item.pinned" (click)="pinChat(item.type, item.id)">
                      <span class="more-option">Pin Idea</span>
                  </button>
              </mat-menu>
          </div>
          
        </div>
  
      </div>

  </div>

<!--New Idea Left Side-->

<div class="left-side forum new-forum new-idea" [class.expand-left]="toNewIdea" [class.hide-left]="hideMobileLeft">

    <div class="left-side-top">
        <div class="infos">
          <span class="left-icons">
            <mat-icon title="Go back" (click)="gotoIdea()">arrow_back</mat-icon>
          </span>

          <span class="page-title">
              New Idea
          </span>
        </div>
    </div>

    <!--New Idea Body-->
    <div class="left-side-body">

      <mat-horizontal-stepper labelPosition="bottom" linear #stepper>
        <mat-step [stepControl]="firstIdeaGroup">
            <form [formGroup]="firstIdeaGroup">
                <ng-template matStepLabel>Title</ng-template>

                <mat-form-field appearance="outline">
                    <mat-label>Select Industry</mat-label>
                    <mat-select formControlName="industry" name="industry">
                        <mat-option value="">
                            Select Industry
                          </mat-option>
                        <mat-option *ngFor="let item of industries" [value]="item.industry">
                          {{item.industry}}
                        </mat-option>
                    </mat-select>
                    <mat-error *ngIf="firstIdeaGroup.get('industry').invalid">Industry is required</mat-error>
                </mat-form-field>
                
                <mat-form-field appearance="outline">
                    <mat-label class="title-text">Idea Title</mat-label>
                    <textarea matInput placeholder="Title" class="title-text" formControlName="title" rows="3" required autocomplete="off"></textarea>
                    <mat-error *ngIf="firstIdeaGroup.get('title').invalid">Minimum Character is 10</mat-error>
                </mat-form-field>
                <div>
                    <button mat-button matStepperNext>Next</button>
                </div>
            </form>
        </mat-step>

        <mat-step [stepControl]="secondIdeaGroup">
          <form [formGroup]="secondIdeaGroup">
              <ng-template matStepLabel>Description</ng-template>
              <mat-form-field appearance="outline">
                  <mat-label>Short Description</mat-label>
                  <textarea matInput placeholder="Description" rows="10" formControlName="description" required></textarea>
                  <mat-error *ngIf="secondIdeaGroup.get('description').invalid">Minimum Character is 20</mat-error>
              </mat-form-field>
              <div>
                  <button mat-button matStepperPrevious>Back</button>
                  <button mat-button matStepperNext>Next</button>
              </div>
          </form>
      </mat-step>

      <mat-step [stepControl]="thirdIdeaGroup">
          <form [formGroup]="thirdIdeaGroup">
              <ng-template matStepLabel>Summary</ng-template>
              <mat-form-field appearance="outline">
                  <mat-label>Summary</mat-label>
                  <textarea matInput placeholder="Summary" rows="10" formControlName="summary" required></textarea>
                  <mat-error *ngIf="thirdIdeaGroup.get('summary').invalid">Minimum Character is 20</mat-error>
              </mat-form-field>
              <div>
                  <button mat-button matStepperPrevious>Back</button>
                  <button mat-button matStepperNext>Next</button>
              </div>
          </form>
      </mat-step>

      <mat-step>
          <ng-template matStepLabel>Save</ng-template>
          <div class="doc-upload-div">
              <div class="upload" (click)="onFileUpload()" [class.hidden]="isUploadingFile">
                <button >Upload Bus. Plan</button>
                <button ><mat-icon>file_copy</mat-icon></button>
                <button >PDF</button>
              </div>
              <div class="upload" [class.hidden]="!isUploadingFile">
                  <button >Uploading Plan...</button>
                  <button ><mat-icon><mat-spinner diameter="20"></mat-spinner></mat-icon></button>
                  <button></button>
                </div>
              <div class="upload" (click)="onImageUpload()" [class.hidden]="isUploadingImage">
                <button>Upload Bus. Logo</button>
                <button><mat-icon>photo</mat-icon></button>
                <button>Image</button>
              </div>
              <div class="upload"  [class.hidden]="!isUploadingImage">
                <button>Uploading Logo...</button>
                <button><mat-icon><mat-spinner diameter="20"></mat-spinner></mat-icon></button>
                <button></button>
              </div>
              <button mat-button [class.hidden]="newIdeaPlan.length>0?false:true" (click)="newTab(newIdeaPlan)">Preview Plan</button>
              <button mat-button [class.hidden]="newIdeaLogo.length>0?false:true" (click)="newTab(newIdeaLogo)">Preview Logo</button>
              
          </div>

          <div>
              <button mat-button matStepperPrevious>Review</button>
              <button class="save-button" [class.hidden]="newIdeaLogo.length>0 && newIdeaPlan.length>0 ?false:true" mat-button (click)="postNew('idea'); stepper.reset()">Save Idea</button>
              <button class="save-button" [class.hidden]="newIdeaLogo.length==0 || newIdeaPlan.length==0 ?false:true" mat-button (click)="postNew('idea');">Save Idea</button>
          </div>
      </mat-step>
    </mat-horizontal-stepper>


    </div>

  </div>



  <div class="right-side" *ngIf="activeConversation && !ideaPanel" [class.hide-right]="!hideMobileLeft">
      <div class="right-side-top">
        <div class="infos" >
          <span [class.hidden]="!mobileQuery.matches"  class="left-icons fix-height" (click)="toggleChat()"><mat-icon>arrow_back</mat-icon></span>
          <span class="sender-details">
            <span [class.hidden]="activeConversation.sender.avatar.length==0?false:true" class="fake-avatar" [title]="activeConversation.sender.name" >
                <button mat-fab class="mat-elevation-z0" [matMenuTriggerFor]="active">{{activeConversation.sender.name.slice(0,1)}}</button>
            </span>
            <img [class.hidden]="activeConversation.sender.avatar.length>0?false:true" [src]="activeConversation.sender.avatar" alt="" [matMenuTriggerFor]="active">
            <span class="sender-name fix-height" [title]="activeConversation.sender.name">{{activeConversation.sender.name.slice(0, 28)}}<span [class.hidden]="activeConversation.sender.name.length>28?false:true">...</span></span>
          </span>
          <span class="right-icons" [matMenuTriggerFor]="option">
              <mat-icon>more_vert</mat-icon>
          </span>
        </div>

    <mat-menu #option="matMenu" class="mat-menu">
      <button mat-button *ngIf="activeConversation.pinned"  (click)="unPinChat(activeConversation.type, activeConversation.sender.id)">
          <span  class="more-option">Unpin Chat</span>
      </button>
      <button mat-button *ngIf="!activeConversation.pinned" (click)="pinChat(activeConversation.type, activeConversation.sender.id)">
          <span class="more-option">Pin Chat</span>
      </button>
    </mat-menu>

    <mat-menu #active="matMenu" class="mat-menu">
        <button class="transparent">
              <div [class.hidden]="activeConversation.sender.avatar.length==0?false:true"class="fake-avatar" [title]="activeConversation.sender.name">
                <button mat-fab class="mat-elevation-z0">{{activeConversation.sender.name.slice(0,1)}}</button>
              </div>
              <img [class.hidden]="activeConversation.sender.avatar.length>0?false:true" [src]="activeConversation.sender.avatar" alt="">
            <span  class="more-option">{{activeConversation.sender.name}}</span>
        </button>
    </mat-menu>

      
      <div *ngIf="pinnedTime.length>0" class="group-time pinned-time">
          <button mat-button>{{pinnedTime}}</button>
      </div>

  </div>

  <!--Main Conversation Body-->

    <div class="right-side-body" (scroll)="onScroll($event)" (keydown)="focusInput($event)" #scrollToBottom tabindex="1">

      <div class="chat-message" *ngFor="let message of activeConversation.conversation">

          <div class="unread-messages" *ngIf="message.showUnread && showUnread">
            <div #unreadMessages>
              {{activeConversation['unread']}} Unread 
              <span *ngIf="activeConversation['unread']==1">Message</span>
              <span *ngIf="activeConversation['unread']>1">Messages</span> 
            </div>
          </div>

          <div class="group-time" *ngIf="message.groupTime" [class.group-margin]="!message.desparity">
            <button mat-button>{{getGroupTime(message.created_at)}}</button>
          </div>

          <div class="message-right message" [id]="'chat' +message.id" [title]="getGroupTime(message.created_at)" *ngIf="message.sender.id == authUser.id" [class.sibling]="message.sibling" [class.desparity]="message.desparity" [class.void]="message.void">
            
            <div class="reply" *ngIf="message.parent>0">
              <div class="reply-message" (click)="scrollToChat('chat' +message.parent)">
                <div *ngIf="message['parent_info']['sender']['id']!=authUser.id">{{message['parent_info']['sender']['name']}}</div>
                <div *ngIf="message['parent_info']['sender']['id']==authUser.id">You</div>
                {{message['parent_info']['message']}}
              </div>
            </div>
            <div class="sender-name you" *ngIf="message.type=='forum'">You</div>
            {{message.message}}
            
            <div class="more-option-reverse" *ngIf="conversationMenu == message.id"><mat-icon>keyboard_arrow_down</mat-icon></div>
            <div class="more-option" [matMenuTriggerFor]="messageMenu" (click)="messageMenuOpened(message.id); $event.stopPropagation();"><mat-icon>keyboard_arrow_down</mat-icon></div>


            <span class="message-timing">
              <span class="message-status" *ngIf="message.starred"> <mat-icon>star</mat-icon> </span>
              <span class="message-time">{{getChatTime(message.created_at)}}</span>
              <span class="message-status" *ngIf="message.status=='sent'"> <mat-icon>check</mat-icon> </span>
              <span class="message-status" *ngIf="message.status=='delivered'"> <mat-icon>done_all</mat-icon> </span>
              <span class="message-status" *ngIf="message.status=='pending' && message.sender.id==authUser.id"> <mat-icon>watch_later</mat-icon> </span>
            </span>
            
            <mat-menu #messageMenu="matMenu" class="mat-menu">
                <button mat-button  (click)="replyMessage(message.id)">
                    <span  class="more-option">Reply Message</span>
                </button>
                <button mat-button *ngIf="message.starred"  (click)="unstarMessage(message.id)">
                    <span  class="more-option">Unstar Message</span>
                </button>
                <button mat-button *ngIf="!message.starred" (click)="starMessage(message.id)">
                    <span class="more-option">Star Message</span>
                </button>
            </mat-menu>

          </div>

          <div class="message-left message" [id]="'chat' +message.id" [title]="getGroupTime(message.created_at)" *ngIf="message.sender.id != authUser.id" [class.sibling]="message.sibling" [class.desparity]="message.desparity">
              
            <div class="reply" *ngIf="message.parent>0">
              <div class="reply-message" (click)="scrollToChat('chat' +message.parent)">
                <div *ngIf="message['parent_info']['sender']['id']!=authUser.id">{{message['parent_info']['sender']['name']}}</div>
                <div *ngIf="message['parent_info']['sender']['id']==authUser.id">You</div>
                {{message['parent_info']['message']}}
              </div>
            </div>
            <div class="sender-name" *ngIf="message.type=='forum'" (click)="startDirectConversation(message.sender.id)">{{message.sender.name}}</div>
            {{message.message}} 

              <div class="more-option-reverse" *ngIf="conversationMenu == message.id"><mat-icon>keyboard_arrow_down</mat-icon></div>
              <div class="more-option" [matMenuTriggerFor]="messageMenu" (click)="messageMenuOpened(message.id); $event.stopPropagation();"><mat-icon>keyboard_arrow_down</mat-icon></div>
              
              <span class="message-timing">
                <span class="message-status" *ngIf="message.starred"> <mat-icon>star</mat-icon> </span>
                <span class="message-time">{{getChatTime(message.created_at)}}</span>
                <span class="message-status" *ngIf="message.status=='sent' && message.sender.id==authUser.id"> <mat-icon>check</mat-icon> </span>
                <span class="message-status" *ngIf="message.status=='delivered' && message.sender.id==authUser.id"> <mat-icon>done_all</mat-icon> </span>
                <span class="message-status" *ngIf="message.status=='pending' && message.sender.id==authUser.id"> <mat-icon>watch_later</mat-icon> </span>
        
              </span>


              <mat-menu #messageMenu="matMenu" class="mat-menu">
                  <button mat-button  (click)="replyMessage(message.id)">
                      <span  class="more-option">Reply Message</span>
                  </button>
                  <button mat-button *ngIf="message.starred"  (click)="unstarMessage(message.id)">
                      <span  class="more-option">Unstar Message</span>
                  </button>
                  <button mat-button *ngIf="!message.starred" (click)="starMessage(message.id)">
                      <span class="more-option">Star Message</span>
                  </button>
              </mat-menu>

          </div>


      </div>

      <button mat-fab mat-raised-button class="back-to-bottom" *ngIf="scrollHeight>scrollTop && !parentMessage.id" (click)="backToBottom()">
        <mat-icon>keyboard_arrow_down</mat-icon>
      </button>
      
    </div>
  <div class="right-side-bottom">
    
      <div class="reply-message" *ngIf="parentMessage.id">

         <div class="message">
           <div>{{parentMessage.sender.name}}</div>
           {{parentMessage.message}}
         </div>

          <button mat-button matPrefix mat-icon-button aria-label="Clear" (click)="cancelReply()">
              <mat-icon>close</mat-icon>
          </button>

      </div>


      <div class="send-message">
          
        <button mat-button matPrefix mat-icon-button aria-label="Clear" (click)="appNews('Coming Soon!')">
              <mat-icon>insert_emoticon</mat-icon>
        </button>
          
        <mat-form-field appearance="outline" class="page-search-input">
          
            <input #sendMessage matInput name="message" [(ngModel)]="typedMessage" placeholder="Type a message" autocomplete="off" (keyup.enter)="submitMessage()" autofocus>
          
        </mat-form-field>

        
        <button mat-button matPrefix mat-icon-button aria-label="Clear" (click)="submitMessage()">
            <mat-icon *ngIf="typedMessage.length==0">send</mat-icon>
            <mat-icon *ngIf="typedMessage.length>0" class="active-send-button">send</mat-icon>
        </button>

        </div>

  </div>

</div>

<!--Idea Panel-->

<div class="right-side" *ngIf="ideaPanel" [class.hide-right]="!hideMobileLeft">
   
    <div class="right-side-top">
        <div class="infos" >
          <span [class.hidden]="!mobileQuery.matches"  class="left-icons fix-height" (click)="toggleChat()"><mat-icon>arrow_back</mat-icon></span>
          <span class="sender-details">
              <span [class.hidden]="activatedIdea.owner.avatar.length==0?false:true" class="fake-avatar" [title]="activatedIdea.owner.name">
                  <button mat-fab class="mat-elevation-z0"  [matMenuTriggerFor]="activeIdea">{{activatedIdea.owner.name.slice(0,1)}}</button>
              </span>
              <img [class.hidden]="activatedIdea.owner.avatar.length>0?false:true" [src]="activatedIdea.owner.avatar" alt="" [matMenuTriggerFor]="activeIdea">
            <span class="sender-name fix-height" [title]="activatedIdea.owner.name">By {{activatedIdea.owner.name.slice(0, 28)}} <span [class.hidden]="activatedIdea.owner.name.length>28?false:true">...</span> </span>
          </span>
          <span class="right-icons" [matMenuTriggerFor]="option">
            <mat-icon>more_vert</mat-icon>
          </span>
        </div>

        <mat-menu #option="matMenu" class="mat-menu">
          <button mat-button *ngIf="activatedIdea.pinned"  (click)="unPinChat(activatedIdea.type, activatedIdea.id)">
              <span  class="more-option">Unpin Idea</span>
          </button>
          <button mat-button *ngIf="!activatedIdea.pinned" (click)="pinChat(activatedIdea.type, activatedIdea.id)">
              <span class="more-option">Pin Idea</span>
          </button>
        </mat-menu>

        <mat-menu #activeIdea="matMenu" class="mat-menu">
            <button class="transparent">
                  <div [class.hidden]="activatedIdea.logo.length==0?false:true"class="fake-avatar" [title]="activatedIdea.title">
                    <button mat-fab class="mat-elevation-z0">{{activatedIdea.title.slice(0,1)}}</button>
                  </div>
                  <img [class.hidden]="activatedIdea.logo.length>0?false:true" [src]="activatedIdea.logo" alt="">
                <span  class="more-option">{{activatedIdea.title}}</span>
            </button>
        </mat-menu>

    </div>

    <!--Idea Body-->

      <div class="right-side-body right-side-body-idea" #scrollToBottom>

          <div class="title">
              <span [class.hidden]="activatedIdea.logo.length==0?false:true" class="fake-avatar idea-image" [title]="activatedIdea.title">
                  <button mat-fab class="mat-elevation-z0">{{activatedIdea.title.slice(0,1)}}</button>
              </span>
              <img [src]="activatedIdea.logo" class="idea-image idea-image-main" alt="" [class.hidden]="activatedIdea.logo.length==0?true:false">
               <h4 class="idea-title">{{activatedIdea.title}}</h4> 
            </div>
      
            <div class="description">
                <h6>My Website</h6>
                <p>{{activatedIdea.url}}</p> 
            </div>
    
            <div class="description">
                <h6>Summary</h6> 
                {{activatedIdea.summary}}
            </div>
            <hr>
            <div class="description" [class.hidden]="activatedIdea.attachment.length==0?true:false">
                <button mat-button (click)="newTab(activatedIdea.attachment)">DOWNLOAD BUSINESS PLAN</button>
            </div>
            <div class="description" [class.hidden]="activatedIdea.status=='pending'?false:true">
                <mat-checkbox [(ngModel)]="activatedIdea['checked']">I have reviewed this Idea</mat-checkbox><br>
                <button mat-button (click)="reviewIdea(activatedIdea)" class="bg-success" [class.hidden]="activatedIdea['checked']?false:true"><mat-icon>check_circle_outline</mat-icon> Continue</button>
                <button mat-button class="text-grey" (click)="reviewIdea(activatedIdea)" [class.hidden]="activatedIdea['checked']?true:false"><mat-icon>check_circle_outline</mat-icon> Continue</button>
            </div>
            <div class="description" [class.hidden]="activatedIdea.status=='reviewed'?false:true">
                <button mat-button (click)="onApproveMessage(activatedIdea)" class="bg-success">	<mat-icon>done</mat-icon> APPROVE IDEA</button>
            </div>
            <div class="description" [class.hidden]="activatedIdea.status=='reviewed'?false:true">
                <button mat-button (click)="onRejectMessage(activatedIdea)" class="bg-danger"><mat-icon>not_interested

                </mat-icon> REJECT IDEA</button>
            </div>

            <div class="description" [class.hidden]="activatedIdea.status=='approved'?false:true" class="text-success">
                <button mat-button> You approved this idea</button>
            </div>
            <div class="description" [class.hidden]="activatedIdea.status=='rejected'?false:true" class="text-danger">
                <button mat-button> You rejected this idea</button>
            </div>

        <button mat-fab mat-raised-button class="back-to-bottom" *ngIf="scrollHeight>scrollTop && !parentMessage.id" (click)="backToBottom()">
          <mat-icon>keyboard_arrow_down</mat-icon>
        </button>
        
      </div>

  </div>

<div class="right-side chat-welcome" *ngIf="!activeConversation && !activatedIdea">

  <div class="chat-landing-image"></div>
  <div class="chat-introduction">
      <h3>Mentees, Ideas, Chat, Forums</h3><br><br>
    <mat-divider></mat-divider>
  </div>

</div>

</div> 
</div>

<app-error-occured *ngIf="hasError && !isConnecting"></app-error-occured>

<app-page-loading *ngIf="isConnecting"></app-page-loading>