<div *ngIf="!isConnecting && user">
    <mat-toolbar color="primary" class="fixed-header main-header">
        <mat-toolbar-row>
          <span class="idea-arrow-back" (click)="goBack()"><mat-icon>arrow_back</mat-icon></span>
          <span class="welcome-logo"> Edit Programme Information</span>
          <span class="flexer"></span>
    
          <button mat-button (click) = "logUserOut('You Logged out')" class="login-button" title="logout">Logout</button>

    
        </mat-toolbar-row>
    </mat-toolbar>
    <br>
    <div class="login-form-container mat-elevation-z0" >
        <h3>Update Programme Information</h3><br>
        <mat-vertical-stepper linear #stepper>
            <mat-step [stepControl]="firstFormGroup">
                <form [formGroup]="firstFormGroup">
                  <ng-template matStepLabel>Basic Information</ng-template>
                
                    <mat-form-field appearance="outline">
                        <mat-label>Email</mat-label>
                
                        <button mat-button matPrefix mat-icon-button aria-label="Clear">
                            <mat-icon>email</mat-icon>
                        </button>
                
                        <input matInput placeholder="john-doe@example.com" type="text" formControlName="email" (keyup.enter)="onSubmit()"  required>
                  
                        <button mat-button *ngIf="this.firstFormGroup.get('email').value" matSuffix mat-icon-button aria-label="Clear" (click)="clearFormField('email')">
                            <mat-icon>close</mat-icon>
                        </button>
                        
                        <mat-error *ngIf="firstFormGroup.get('email').invalid">{{getEmailErrorMessage()}}</mat-error>
                      </mat-form-field>
    
                      <mat-form-field appearance="outline">
                        <mat-label>LinkedIn Url</mat-label>
                
                        <button mat-button matPrefix mat-icon-button aria-label="Clear">
                            <mat-icon>insert_link</mat-icon>
                        </button>
                
                        <input matInput placeholder="e.g. http://linkedin.com/in/john-doe/" type="text" formControlName="linkedin" (keyup.enter)="onSubmit()"  required>
                  
                        <button mat-button *ngIf="this.firstFormGroup.get('linkedin').value" matSuffix mat-icon-button aria-label="Clear" (click)="clearFormField('linkedin')">
                            <mat-icon>close</mat-icon>
                        </button>
                        
                        <mat-error *ngIf="firstFormGroup.get('linkedin').invalid">{{getLinkedInErrorMessage()}}</mat-error>
                      </mat-form-field>
    
                      <mat-form-field appearance="outline">
                            <mat-label>Add Specialisations and Interests</mat-label>
                            <mat-chip-list #chipList aria-label="specialisation selection">
                              <mat-chip *ngFor="let specialisation of specialisations" [selectable]="selectable"
                                       [removable]="removable" (removed)="remove(specialisation)">
                                {{specialisation.name}}
                                <mat-icon matChipRemove *ngIf="removable">cancel</mat-icon>
                              </mat-chip>
                              <input placeholder="Type and seperate with a comma"
                                     [matChipInputFor]="chipList"
                                     [matChipInputSeparatorKeyCodes]="separatorKeysCodes"
                                     [matChipInputAddOnBlur]="addOnBlur"
                                     (matChipInputTokenEnd)="add($event)">
                            </mat-chip-list>
                          </mat-form-field>
    
                      <mat-form-field appearance="outline">
                        <mat-label>About Me</mat-label>
                
                        <textarea matInput placeholder="About me" type="text" formControlName="about" rows="3" required></textarea>
                        
                        <mat-error *ngIf="firstFormGroup.get('about').invalid">{{getAboutErrorMessage()}}</mat-error>
                      </mat-form-field>
          
                    <div>
                        <button mat-button matStepperNext>Next</button>
                    </div>
                </form>
            </mat-step>
    
            <mat-step [stepControl]="secondFormGroup">
                <form [formGroup]="secondFormGroup">
                  <ng-template matStepLabel>Mentorship Programme Setup</ng-template>
                
                  <mat-form-field appearance="outline">
                      <mat-label>Programme Name</mat-label>
              
                      <input matInput placeholder="Programme Name" type="text" formControlName="pname" (keyup.enter)="onSubmit()"  required>
                
                      <button mat-button *ngIf="this.secondFormGroup.get('pname').value" matSuffix mat-icon-button aria-label="Clear" (click)="clearFormField('pname')">
                          <mat-icon>close</mat-icon>
                      </button>
                      
                      <mat-error *ngIf="secondFormGroup.get('pname').invalid">{{getPnameErrorMessage()}}</mat-error>
                    </mat-form-field>
    
                    <mat-form-field appearance="outline">
                        <mat-label>Programme Duration</mat-label>
                        <mat-select formControlName="pduration" name="pduration">
                            <mat-option value="">
                                Programme Duration
                            </mat-option>
                            <mat-option *ngFor="let item of programmeDurations" [value]="item.duration">
                            {{item.duration}}
                            </mat-option>
                        </mat-select>
                        
                        <mat-error *ngIf="secondFormGroup.get('pdescription').invalid">{{getPdurationErrorMessage()}}</mat-error>
                    </mat-form-field>
    
                    <mat-form-field appearance="outline">
                        <mat-label>Programme Description</mat-label>
                
                        <textarea matInput placeholder="Programme Description" type="text" formControlName="pdescription" rows="6" required></textarea>
                  
                        <button mat-button *ngIf="this.secondFormGroup.get('pdescription').value" matSuffix mat-icon-button aria-label="Clear" (click)="clearFormField('pdescription')">
                            <mat-icon>close</mat-icon>
                        </button>
                        
                        <mat-error *ngIf="secondFormGroup.get('pdescription').invalid">{{getPdescriptionErrorMessage()}}</mat-error>
                    </mat-form-field>
          
                    <div>
                        <button mat-button matStepperPrevious>Previous</button>
                        <button mat-button matStepperNext>Next</button>
                    </div>
                </form>
            </mat-step>
          
            <mat-step>
                <ng-template matStepLabel>Save Details</ng-template>
                <br>
                <div>
                    <button mat-button matStepperPrevious>Review</button>
                   
                    <button mat-button class="form-button" (click)="onSubmit()"><mat-icon *ngIf="persistingData"><mat-spinner diameter="20">
                        </mat-spinner></mat-icon><span *ngIf="!persistingData">Update Programme</span></button>
                </div>
            </mat-step>
    
          </mat-vertical-stepper> 
    </div>
    </div>
    <app-error-occured *ngIf="hasError && !isConnecting"></app-error-occured>
        
    <app-page-loading *ngIf="isConnecting"></app-page-loading>
    
    