<mat-toolbar color="primary" class="fixed-header mat-elevation-z4">
    <mat-toolbar-row>
      <span class="welcome-logo"><img class="img-logo" src="/assets/images/app-logo.png" alt=""><span class="logo-text">IDEAHUB</span></span>
      <span class="flexer"></span>
      <button mat-button [routerLink]="['/login']" [class.login-button]="isPublic">Login</button>
      <button mat-button [routerLink]="['/register']" [class.hidden]="!isPublic">Register</button>
    </mat-toolbar-row>
</mat-toolbar>