.login-form-container {
    position: relative;
    top:50px;
    margin:auto;
    display: flex;
    flex-direction: column;
    width: 500px;
    padding:20px;
    border-radius:25px;
}


.login-form-container button {
    background: #11C7B3;
    color:#fff;
}

.main-header {
    background: #11C7B3 !important;
    color: #fff !important;
}

.main-header mat-icon {
    color: #fff !important;
}

.idea-arrow-back {
    position: relative;
    top: 5px;
    margin-right: 50px;
    cursor: pointer;
}


@media only screen and (max-width: 600px) {
    
    .login-form-container {
       
        width: 90%;
    }

  }