<div *ngIf="!isConnecting && user">

    <mat-toolbar color="primary" class="fixed-header main-header">
        <mat-toolbar-row>
          <span class="welcome-logo" [routerLink]="['/mentor/home']"><mat-icon>wb_incandescent</mat-icon>IDEAHUB</span>
          <span class="flexer"></span>
          <app-shared-avatar [user]="user" *ngIf="user"></app-shared-avatar>
          <button mat-button [matMenuTriggerFor]="menu" aria-label="Menu">
            Menu  
            <mat-icon>arrow_drop_down</mat-icon>
          </button>
    
            <mat-menu #menu="matMenu">
              <button mat-menu-item [routerLink]="['/mentor/main']">
                Chat Board
              </button>
              <button mat-menu-item (click)="newTab(learn)">
                GPI Learn
              </button>
              <button mat-menu-item [routerLink]="['/mentor/view/profile/'+profileCode]">
                View Profile
              </button>
              <button mat-menu-item [routerLink]="['/mentor/edit/profile']">
                Edit Profile
              </button>
              <button mat-menu-item [routerLink]="['/mentor/edit/programme']">
                Edit Mentorship Programme
              </button>
              <button mat-menu-item (click) = "logUserOut('You Logged out')">
                Logout
              </button>
            </mat-menu>
    
        </mat-toolbar-row>
    </mat-toolbar>
    
    <!--View-->

    <!--For Certificates-->

    <div class="settings mat-elevation-z8 add-radius" [class.hidden]="certificates.length==0?true:false">

        <h3 class="sub-title">Your Certificates</h3>
            
            <table mat-table [dataSource]="certificateDataSource" class="mat-elevation-z0">
            <!-- Position Column -->
            <ng-container matColumnDef="name">
                <th mat-header-cell *matHeaderCellDef> Name on Certificate</th>
                <td mat-cell *matCellDef="let element" class="bold custom-grey underline"> {{element.name}} </td>
            </ng-container>
            
            <!-- Weight Column -->
            <ng-container matColumnDef="mentee">
                <th mat-header-cell *matHeaderCellDef>Name of Mentee</th>
                <td mat-cell *matCellDef="let element" class="custom-grey"> {{element.mentee}} </td>
            </ng-container>
            
            <!-- Symbol Column -->
            <ng-container matColumnDef="data">
                <th mat-header-cell *matHeaderCellDef> Action </th>
                <td mat-cell *matCellDef="let element"> 
                    <mat-icon class="more-icon" [matMenuTriggerFor]="menu1">more_vert</mat-icon>
                    <mat-menu #menu1="matMenu">
                        <button mat-menu-item (click)="approveCertificate(element.data.id)">
                          Approve Certificate
                        </button>
                        <button mat-menu-item (click)="newTab(element.data.link)">
                        Original Certificate Link
                        </button>
                        <button mat-menu-item (click)="newTab(element.data.certificate)">
                        View Certificate 
                        </button>
                    </mat-menu>
                </td>
            </ng-container>
            
            <tr mat-header-row *matHeaderRowDef="certificateColumns"></tr>
            <tr mat-row *matRowDef="let row; columns: certificateColumns;"></tr>
            </table>
            <mat-paginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons></mat-paginator>
    
    </div>

    <!--For Pending-->
    <div class="settings mat-elevation-z8 add-radius" [class.hidden]="pendingMenteeList.length==0?true:false">
    
         <h3 class="sub-title">Pending Mentees</h3>
    
          <mat-form-field >
            <input #searchInput matInput (keyup)="applyFilter($event.target.value, 'pending')" placeholder="Search Mentees">
          </mat-form-field>
          
          <table mat-table [dataSource]="pendingDataSource" class="mat-elevation-z0">
              <!-- Name Column -->
              <ng-container matColumnDef="name">
                <th mat-header-cell *matHeaderCellDef> Name</th>
                <td mat-cell *matCellDef="let element" class="bold custom-grey underline" [routerLink]="['/mentor/mentee-profile/'+element.name.link]"> {{element.name.name}} </td>
              </ng-container>
            
              <!-- Email Column -->
              <ng-container matColumnDef="about">
                <th mat-header-cell *matHeaderCellDef>Email</th>
                <td mat-cell *matCellDef="let element" class="custom-grey"> {{element.about}} </td>
              </ng-container>

               <!-- Message Column -->
               <ng-container matColumnDef="msg">
                  <th mat-header-cell *matHeaderCellDef>Message</th>
                  <td mat-cell *matCellDef="let element" class="custom-grey"> {{element.message}} </td>
                </ng-container>
            
              <!-- Symbol Column -->
              <ng-container matColumnDef="data">
                <th mat-header-cell *matHeaderCellDef> Action </th>
                <td mat-cell *matCellDef="let element"> 
                    <mat-icon class="more-icon" [matMenuTriggerFor]="menu1">more_vert</mat-icon>
                    <mat-menu #menu1="matMenu">
                        <button mat-menu-item (click)="acceptMentee(element.data)">
                            Accept Mentee
                          </button>
                          <button mat-menu-item (click)="rejectMentee(element.data)">
                            Reject Mentee
                          </button>
                        <button mat-menu-item [routerLink]="['/mentor/mentee-profile/'+element.data]">
                          View Complete Profile
                        </button>
                      </mat-menu>
                </td>
              </ng-container>
            
              <tr mat-header-row *matHeaderRowDef="displayedPendingColumns"></tr>
              <tr mat-row *matRowDef="let row; columns: displayedPendingColumns;"></tr>
            </table>

          <mat-paginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons></mat-paginator>
    
    </div>
    
    <div class="settings mat-elevation-z8 add-radius">
    
         <h3 class="sub-title">My Mentees</h3>
    
          <mat-form-field >
            <input #searchInput matInput (keyup)="applyFilter($event.target.value, 'all')" placeholder="Search Mentees">
          </mat-form-field>
          
          <table mat-table [dataSource]="dataSource" class="mat-elevation-z0">
              <!-- Position Column -->
              <ng-container matColumnDef="name">
                <th mat-header-cell *matHeaderCellDef> Name</th>
                <td mat-cell *matCellDef="let element" class="bold custom-grey underline" [routerLink]="['/mentor/mentee-profile/'+element.name.link]"> {{element.name.name}} </td>
              </ng-container>
            
              <!-- Weight Column -->
              <ng-container matColumnDef="about">
                <th mat-header-cell *matHeaderCellDef>Email</th>
                <td mat-cell *matCellDef="let element" class="custom-grey"> {{element.about}} </td>
              </ng-container>
            
              <!-- Symbol Column -->
              <ng-container matColumnDef="data">
                <th mat-header-cell *matHeaderCellDef> Action </th>
                <td mat-cell *matCellDef="let element"> 
                    <mat-icon class="more-icon" [matMenuTriggerFor]="menu1">more_vert</mat-icon>
                    <mat-menu #menu1="matMenu">
                        <button mat-menu-item [routerLink]="['/mentor/mentee-profile/'+element.data]">
                          View Complete Profile
                        </button>
                      </mat-menu>
                </td>
              </ng-container>
            
              <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
              <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
            </table>

          <mat-paginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons></mat-paginator>

          <div class="" [class.hidden]="menteeList.length>0?true:false">
            <h6>You currently have no Mentee</h6>
        </div>
    
    </div>

    <div class="page-buttons">
      <div class="custom-button">
          <button mat-button [routerLink]="['/mentor/main']">Go to Chat Board</button>
      </div>

      <div class="custom-button">
          <button mat-button (click)="newTab(learn)">Proceed to GPI Learn</button>
      </div>
    </div>
    
    <!-- END OF VIEW-->
    
    </div>
    <app-error-occured *ngIf="hasError && !isConnecting"></app-error-occured>
    
    <app-page-loading *ngIf="isConnecting"></app-page-loading>
    
    