<div *ngIf="!isConnecting && user && !hasError">

    <mat-toolbar color="primary" class="fixed-header main-header">
        <mat-toolbar-row>
          <span class="welcome-logo" [routerLink]="['/mentee/home']"><img class="img-logo" src="/assets/images/app-logo.png" alt="">| Mentee</span>
          <span class="flexer"></span>
          <span [matMenuTriggerFor]="noty" (click)="onReadAllNotifications()">
              <mat-icon [matBadge]="notNumber" matBadgeColor="warn" class="badge"  [class.hidden]="!hasNotification">notifications</mat-icon>
              <mat-icon class="badge" [class.hidden]="hasNotification">notifications_none</mat-icon>
            </span>
          <button mat-button [routerLink]="['/mentee/main']" [class.hidden]="hasMentor||pendingMentor?false:true">Dashboard</button>
          <button mat-button (click)="newTab(learnUrl)">Learn</button>
          <app-shared-avatar [user]="user" *ngIf="user"></app-shared-avatar>
          <button mat-button [matMenuTriggerFor]="menu" aria-label="Menu">
              Menu  
              <mat-icon>arrow_drop_down</mat-icon>
            </button>
            
            <mat-menu #noty="matMenu" class="notification-tab">
                <h6>All Notifications</h6>
                <hr>
                <button *ngFor="let item of allNotifications" mat-menu-item [class.unread-not]="item.unread" [routerLink]="['/mentor'+item.link]" title="just posted an Idea">
                  <span class="text-bold">{{item.sender}}</span> {{item.action}}
                </button>
                <h6 [class.hidden]="allNotifications.length>0?true:false">You currently have no notification</h6>
            </mat-menu>

            <mat-menu #menu="matMenu">
              <button mat-menu-item [routerLink]="['/mentee/certificate']" [class.hidden]="hasMentor?false:true">
                Upload Certificates
              </button>
              <button mat-menu-item [routerLink]="['/mentee/main']" [class.hidden]="hasMentor||pendingMentor?false:true">
                Dashboard
              </button>
              <button mat-menu-item (click)="newTab(learnUrl)">
                GPI Learn
              </button>
              <button mat-menu-item [routerLink]="['/mentee/view/profile']">
                View Profile
              </button>
              <button mat-menu-item [routerLink]="['/mentee/edit/profile']">
                Edit Profile
              </button>
              <button mat-menu-item (click) = "logUserOut('You Logged out')">
                Logout
              </button>
            </mat-menu>
    
        </mat-toolbar-row>
    </mat-toolbar>
    
    <!--View-->
    
    <div class="settings">
    
         <h3 class="sub-title" [class.hidden]="pendingMentor||hasMentor?true:false">Recommended Mentors</h3>
         <h3 class="sub-title" [class.hidden]="hasMentor?false:true">My Mentor</h3>
         <h3 class="sub-title" [class.hidden]="pendingMentor?false:true">Pending Mentor</h3>
         
          <table mat-table [dataSource]="dataSource" class="mat-elevation-z8 add-radius">
            <!-- Position Column -->
            <ng-container matColumnDef="name">
              <th mat-header-cell *matHeaderCellDef> Name</th>
              <td mat-cell *matCellDef="let element" class="bold custom-grey underline" [routerLink]="['/mentee/mentor-profile/'+element.name.link]"> {{element.name.name}} </td>
            </ng-container>
          
            <!-- Weight Column -->
            <ng-container matColumnDef="about">
              <th mat-header-cell *matHeaderCellDef>About</th>
              <td mat-cell *matCellDef="let element" class="custom-grey"> {{element.about}} </td>
            </ng-container>
          
            <!-- Symbol Column -->
            <ng-container matColumnDef="data">
              <th mat-header-cell *matHeaderCellDef> Action </th>
              <td mat-cell *matCellDef="let element"> 
                  <mat-icon class="more-icon" [matMenuTriggerFor]="menu1">more_vert</mat-icon>
                  <mat-menu #menu1="matMenu">
                      <button mat-menu-item (click)="chooseMentor(element.data)" [class.hidden]="hasMentor||pendingMentor?true:false">
                        Choose Mentor
                      </button>
                      <button mat-menu-item [routerLink]="['/mentee/mentor-profile/'+element.data]">
                        View Complete Profile
                      </button>
                    </mat-menu>
              </td>
            </ng-container>
          
            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
          </table><br>
          <mat-paginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons [class.hidden]="hasMentor?true:false"></mat-paginator>
          
          
          <div class="" [class.hidden]="mentorList.length>0?true:false">
              <h6>No Mentor at the moment</h6>
          </div>

    </div>

    
    <!-- END OF VIEW-->
    
    </div>
    <app-error-occured *ngIf="hasError && !isConnecting"></app-error-occured>
    
    <app-page-loading *ngIf="isConnecting"></app-page-loading>
    
    