<div *ngIf="!isConnecting && user">

    <mat-toolbar color="primary" class="fixed-header main-header mat-elevation-z0">
        <mat-toolbar-row>
          <span class="idea-arrow-back" (click)="goBack()"><mat-icon>arrow_back</mat-icon></span>
          <span class="welcome-logo">{{mentorProfile.mentor.full_name}}'s Profile</span>
          <span class="flexer"></span>
          <button mat-button [routerLink]="['/mentee']" class="logout" title="Home"><mat-icon>home</mat-icon> </button>

    
        </mat-toolbar-row>
    </mat-toolbar>
    <br><br>


    <div class="main-content">
      <div class="profile-header">
      <button class="content-button centralised-button">
        <div class="fake-avatar-big profile-pic mat-elevation-z2" *ngIf="mentorProfile.mentor.image.length==0" (click)="enlargeAvatar=true">
            <div class="icon">
                <mat-icon>camera_alt</mat-icon>
            </div>
        </div>
        <img [src]="mentorProfile.mentor.image" class="profile-pic mat-elevation-z2" alt="" *ngIf="mentorProfile.mentor.image.length>0" (error)="mentorProfile.mentor.image=''" (click)="enlargeAvatar=true">
        <div class="user-name">
          <button class="content-button">
              <h4>{{mentorProfile.mentor.full_name}}</h4>
              <button mat-button class="link-button" (click)="newTab(mentorProfile.profile.linkedin)">LinkedIn Profile</button>
          </button>
        </div>
      </button>
      </div>
      <div class="profile-card mat-elevation-z2">
          <button class="right-button" mat-button (click)="chooseMentor(params['code'])" [class.hidden]="hasMentor|| hasPendingMentor?true:false">Choose Mentor</button>
      </div>

      <div class="profile-card mat-elevation-z2">
          <h6>Email</h6>
            <p>{{mentorProfile.mentor.email}}</p>
        </div><br>

      <div class="profile-card mat-elevation-z2">
        <h6>About Me</h6>
          <p>{{mentorProfile.profile.about_me}}</p>
      </div><br>

      <div class="profile-card mat-elevation-z2">
          <h6>Programme Name</h6>
            <p>{{mentorProfile.profile.programme_name}}</p>
      </div>

      <div class="profile-card mat-elevation-z2">
          <h6>Programme Duration</h6>
            <p>{{mentorProfile.profile.duration}}</p>
      </div>

      <div class="profile-card mat-elevation-z2">
          <h6>Programme Description</h6>
            <p>{{mentorProfile.profile.description}}</p>
      </div><br>
      
      </div>

      <div class="dark-cover" (click)="enlargeAvatar=false" [class.hidden]="!enlargeAvatar">
          <div class="holder" (click)="$event.stopPropagation();">
        
              <div class="fake-avatar-big" *ngIf="mentorProfile.mentor.image.length==0" (click)="enlargeAvatar=true">
                  <div class="icon">
                      <mat-icon>camera_alt</mat-icon><br><span class="no-photo">NO PHOTO</span>
                  </div>
              </div>
              <img [src]="mentorProfile.mentor.image"  class="real-image" alt="" *ngIf="mentorProfile.mentor.image.length>0" (error)="mentorProfile.profile.image=''" (click)="enlargeAvatar=true">
            
          </div>
        </div>

</div>

<app-error-occured *ngIf="hasError && !isConnecting"></app-error-occured>
    
<app-page-loading *ngIf="isConnecting"></app-page-loading>