<div *ngIf="!isConnecting">
    <div class="recovery-form-container mat-elevation-z0" >
    <button class="form-suffice auth-footer"><span class="auth-footer-logo" [routerLink]="['/']"><img class="img-logo" src="/assets/images/app-logo.png" alt=""></span></button><br>
    <mat-form-field appearance="outline">
      <mat-label>Email Address</mat-label>

      <button mat-button tabIndex="-1" matPrefix mat-icon-button aria-label="Clear">
          <mat-icon>email</mat-icon>
      </button>
      
      <input matInput placeholder="Enter Email" name="email" [formControl]="email" (change)="refillEmail()" (keyup.enter)="onSubmit()" readonly required>

      <mat-error *ngIf="email.invalid">{{getEmailErrorMessage()}}</mat-error>
    </mat-form-field>

            <br>

            <p class="policy">
                By clicking Become {{params['roleString']}}, you agree to our <a href="https://www.my-gpisuite.com/terms-and-conditions/">Terms and Conditions</a>, <a href="https://www.my-gpisuite.com/privacy-policy-2/">Privacy Policy</a> and <a href="https://www.my-gpisuite.com/mobile-internet-safety/">Mobile Internet Safety Policy</a>. You may receive SMS and Email Notifications from us and can opt out any time.
            </p>
          <button mat-button class="form-button" (click)="onSubmit()">
              <mat-icon *ngIf="persistingData"><mat-spinner diameter="20">
                </mat-spinner></mat-icon>
                <span *ngIf="!persistingData">
                    Become {{params['roleString']}}
                </span>
              </button>
          <br>
          <button class="form-suffice"><span [routerLink]="['/']">Back to homepage</span></button>
    
    </div>
    </div>
    
    <app-error-occured *ngIf="hasError && !isConnecting"></app-error-occured>
    
    <app-page-loading *ngIf="isConnecting"></app-page-loading>
    
    