<div *ngIf="!isConnecting">
    <div class="auth-logo " [routerLink]="['/']"><mat-icon>wifi_tethering</mat-icon></div>
    
    <div class="recovery-form-container mat-elevation-z0" >

    <mat-form-field appearance="outline">
      <mat-label>Email Address</mat-label>

      <button mat-button tabIndex="-1" matPrefix mat-icon-button aria-label="Clear">
          <mat-icon>email</mat-icon>
      </button>
      
      <input matInput placeholder="Enter Email" name="email" [formControl]="email" (change)="refillEmail()" (keyup.enter)="onSubmit()" readonly required>

      <mat-error *ngIf="email.invalid">{{getEmailErrorMessage()}}</mat-error>
    </mat-form-field>

            <br>
          <button mat-button class="form-button" (click)="onSubmit()">
              <mat-icon *ngIf="persistingData"><mat-spinner diameter="20">
                </mat-spinner></mat-icon>
                <span *ngIf="!persistingData">
                    Become {{params['roleString']}}
                </span>
              </button>
          <br>
          <button class="form-suffice"><span [routerLink]="['/']">Back to homepage</span></button>
          <button class="form-suffice auth-footer"><span class="auth-footer-logo" [routerLink]="['/']"><mat-icon>wifi_tethering</mat-icon>SMEHUB</span></button>
    
    </div>
    </div>
    
    <app-error-occured *ngIf="hasError && !isConnecting"></app-error-occured>
    
    <app-page-loading *ngIf="isConnecting"></app-page-loading>
    
    