<div class="auth-logo " [routerLink]="['/']"><mat-icon>wifi_tethering</mat-icon></div>

<div class="login-form-container mat-elevation-z0" >
    <mat-form-field appearance="outline">
      <mat-label>Email or Username</mat-label>

      <button mat-button matPrefix tabIndex="-1" mat-icon-button aria-label="Clear">
          <mat-icon>person</mat-icon>
      </button>
      
      <input matInput placeholder="Enter Email Address or Username" [formControl]="email" (keyup.enter)="onSubmit()"  required>

      <button mat-button *ngIf="this.email.value" matSuffix tabIndex="-1" mat-icon-button aria-label="Clear" (click)="this.email.setValue('')">
          <mat-icon>close</mat-icon>
      </button>

      <mat-error *ngIf="email.invalid">{{getEmailErrorMessage()}}</mat-error>
    </mat-form-field>
    <mat-form-field appearance="outline">
        <mat-label>Password</mat-label>
        <button mat-button matPrefix tabIndex="-1" mat-icon-button aria-label="Clear">
            <mat-icon>lock</mat-icon>
        </button>
        <input matInput placeholder="Enter password" [type]="hidePassword ? 'password' : 'text'"  [formControl]="password" (keyup.enter)="onSubmit()"  required>
        <mat-icon matSuffix tabIndex="-1" (click)="hidePassword = !hidePassword">{{hidePassword ? 'visibility_off' : 'visibility'}}</mat-icon>
        <mat-error *ngIf="email.invalid">{{getPasswordErrorMessage()}}</mat-error>
      </mat-form-field>
      <br>
      <button mat-button class="form-button" (click)="onSubmit()"><mat-icon *ngIf="persistingData"><mat-spinner diameter="20">
        </mat-spinner></mat-icon><span *ngIf="!persistingData">Login</span></button>
      <br>
      <button class="form-suffice"><span [routerLink]="['/register']" [class.hidden]="!isPublic">Create new account</span></button>
      <button class="form-suffice"><span [routerLink]="['/recover/password']">Recover lost password</span></button>
      <button class="form-suffice auth-footer"><span class="auth-footer-logo" [routerLink]="['/']"><mat-icon>wifi_tethering</mat-icon>SMEHUB</span></button>

</div>

