mat-toolbar-row button {
    background: #03A9F4;
    color: #fff;
    margin: 5px;
}

mat-toolbar-row span {
    cursor: pointer;
}

.login-button {
    background: transparent !important;
    color: #03A9F4 !important;
}

.welcome-logo mat-icon {
    font-size: 15px !important;

}

.main-header {
    background: #03A9F4 !important;
    color: #fff !important;
}

.main-header mat-icon {
    color: #fff !important;
}

.settings {
    position: relative;
    top: 80px;
    width: 100%;
    max-width: 1000px;
    margin: auto;
    padding: 5px;
    padding-bottom: 20px;
}

.upload-certificate {
    position: relative;
    top: 80px;
    width: 100%;
    max-width: 1000px;
    margin: auto;
    padding: 5px;
    padding-bottom: 20px;
}

.settings table {
    width: 100%;
  }
  
.upload-certificate .mat-form-field  {
    font-size: 14px;
    width: 100%;
}

.settings .fab-button {
    background: #fff !important;
    color: #03A9F4;
}

.settings .fab-button:hover {
    background: rgba(0, 0, 0, 0.082) !important;
}

.settings .sub-title {
    float: left;
    color: #9E9E9E;
    margin-bottom: 30px;
}

.settings .add-new {
 float: right;
 background: rgba(3, 168, 244, 0.733);
 color: #fff;
 margin-bottom: 10px;
 font-weight: bold;
}

.register-form-container .form-button {
    width: 100% !important;
    background: #03A9F4 !important;
    color: #fff;
    font-weight: bold;
}

.settings .add-new span mat-icon {
    position: relative;
    top: 6px;
   }

.upload-certificate .input {
    position: absolute;
    top: 70px;
    width: 100% !important;
    left: 0px !important;
}

.doc-upload-div .upload{
    width: 150px;
    height: 150px;
    background: #eee;
    margin: 20px;
    display: inline-block;
    cursor: pointer;
}

.doc-upload-div .upload button{
    position: relative;
    top:20px;
    width: 100%;
    background: transparent;
    border: none;
}

.doc-upload-div .upload:hover{
    background: rgba(0, 0, 0, 0.199);
}

.main-header {
    background: #03A9F4 !important;
    color: #fff !important;
}

.main-header mat-icon {
    color: #fff !important;
}

.idea-arrow-back {
    position: relative;
    top: 5px;
    margin-right: 10px;
    cursor: pointer;
}