<div *ngIf="!isConnecting && user && !hasError">

<input class="hidden" #csvUpload name="csvUrl" type="file" accept=".csv" (change)="onChooseCSV($event)" />
<mat-toolbar color="primary" class="fixed-header main-header">
    <mat-toolbar-row>
      <span class="welcome-logo" [routerLink]="['/committee/home']"><img class="img-logo" src="/assets/images/app-logo.png" alt=""></span>
      <span class="flexer"></span>

      <button mat-button [matMenuTriggerFor]="menu" aria-label="Menu">
        Menu  
        <mat-icon>arrow_drop_down</mat-icon>
      </button>

       <button mat-button (click) = "logUserOut('You Logged out')" title="logout">Logout</button>

        <mat-menu #menu="matMenu">

          <button mat-menu-item [routerLink]="['/committee/ideas/all/']">
            All Ideas
          </button>
          <button mat-menu-item [routerLink]="['/committee/ideas/pending/']">
            Pending Ideas
          </button>
          <button mat-menu-item [routerLink]="['/committee/ideas/approved/']">
            Approved Ideas
          </button>
  
        </mat-menu>

    </mat-toolbar-row>
</mat-toolbar>

<!--View-->

<div class="settings " *ngIf="page=='ideas'">

     <h3 class="sub-title">{{title}}s</h3>

      <mat-form-field >
        <input #searchInput matInput (keyup)="applyFilter($event.target.value)" [placeholder]="'Search ' +title+ 's'">
      </mat-form-field>
      
      <table mat-table [dataSource]="dataSource" class="mat-elevation-z8 add-radius">
        <!-- Position Column -->
        <ng-container matColumnDef="title">
          <th mat-header-cell *matHeaderCellDef> Idea Title </th>
          <td mat-cell *matCellDef="let element" class="bold custom-grey underline" [routerLink]="'/committee/view/idea/'+ element.link"> {{element.title}} </td>
        </ng-container>
      
        <!-- Weight Column -->
        <ng-container matColumnDef="description">
          <th mat-header-cell *matHeaderCellDef>Short Description </th>
          <td mat-cell *matCellDef="let element" class="custom-grey"> {{element.description}} </td>
        </ng-container>
      
        <!-- Symbol Column -->
        <ng-container matColumnDef="id">
          <th mat-header-cell *matHeaderCellDef> Action </th>
          <td mat-cell *matCellDef="let element"> 
              <button mat-button class="fab-button mat-elevation-z0"  aria-label="Menu" [matMenuTriggerFor]="action">
                  <mat-icon>more_vert</mat-icon>
              </button>
              <mat-menu #action="matMenu">
                  <button mat-menu-item [routerLink]="'/committee/view/idea/'+ element.link">
                      More Info
                  </button>
                  <button mat-menu-item (click)="onApproveMessage(element.idea)" [class.hidden] = "element.idea.committee_status=='pending'?false:true">
                    Approve Idea
                  </button>
                  <button mat-menu-item (click)="onRejectMessage(element.idea)" [class.hidden] = "element.idea.committee_status=='pending'?false:true">
                    Reject Idea
                  </button>
              </mat-menu>
          </td>
        </ng-container>
      
        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
      </table><br>
      <mat-paginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons></mat-paginator>

      <div class="custom-button" [class.hidden]="allIdeas.length>0?true:false">
          <h6>No {{title}} at the moment</h6>
      </div>

</div>

<!-- END OF VIEW-->

</div>
<app-error-occured *ngIf="hasError && !isConnecting"></app-error-occured>

<app-page-loading *ngIf="isConnecting"></app-page-loading>

