/* You can add global styles to this file, and also import other style files */
@import "~@angular/material/prebuilt-themes/indigo-pink.css";

html, body {
  background: #fff !important;
}

.flexer {
    flex: 1 1 auto;
  }

  .fixed-header {
    position: fixed;
    background: #fff !important;
    color: #03A9F4 !important;
    top: 0;
    left: 0;
    z-index: 2;
    width: 100% !important;
}

.page-body {
    position: relative;
    top:100px;
}

.snack-success, .snack-error{
    color:#fff;
    padding-left:20% !important;
  }

  .snack-error {
    background: red !important;
  }
  
  .snack-success {
    background:  green !important;
  }

  button {
      outline-color: transparent !important;
  }

  input, mat-label {
      padding-left: 10px !important;
  }

  .auth-logo {
    position: relative;
    width: 100px;
    height: 100px;
    margin: auto;
    top: 50px;
    color:#FF7043;
    cursor: pointer;
    outline-color: transparent !important;
  }

  .auth-logo mat-icon {
     font-size: 80px !important;
  }

  .form-suffice {
      background: transparent !important;
      color: #546E7A !important;
      border: 1px solid transparent;
      cursor: default !important;
  }

  .form-suffice span:hover {
    text-decoration: underline;
    cursor: pointer;
    outline-color: transparent !important;
  }

  .auth-footer {
      margin-top: 10px;
  }
  .auth-footer mat-icon{
      font-size:13px;
  }
  .auth-footer span{
    text-decoration: none !important;
  }

  mat-form-field button {
    position: relative;
    top: -5px !important;
    width: 25px !important;
    height:25px !important;
    font-size: 10px !important; 
  }

  .form-button mat-spinner circle {
    stroke: #fff !important;
  }

  .page-loading mat-spinner circle {
    stroke: #FF7043 !important;
  }